[Unit]
Description=EvoStream Media Server Web Services
After=network.target

[Service]
ExecStart=/usr/bin/evo-node /usr/bin/node-webservices/bin/evowebservices_activate /etc/evostreamms/webconfig.json
User=evostreamd
Group=evostreamd

[Install]
WantedBy=multi-user.target
